<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/main.css" />

    <title>Better You EE</title>
  </head>

  <body class="home">
    <div class="mainImage">
      <div class="mainImage__data">
        <span class="mainImage__span">This is the top text we used span</span>
        <h1 class="mainImage__h1">This is the first <br />main Text</h1>
        <p class="mainImage__p">
          This is the suppoting<br />
          text below main Text of the h1
        </p>
      </div>
    </div>
    <div class="cta">
      <div class="ctaCircle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime id
        consequuntur aspernatur, excepturi vitae iusto.
      </div>
      <div class="ctaPointer">Try it, Today</div>
    </div>
  </body>
</html>
