*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  // in % because this will make our site responsive even when the user zooms in/out;
}

body {
  box-sizing: border-box;

  color: $color-primary;
}
